<?xml version="1.0" encoding="utf-8"?>
<!--  
This Source Code Form Is subject To the terms Of the Mozilla Public
License, v. 2.0. If a copy of the MPL was Not distributed with this
file, You can obtain one at http: //mozilla.org/MPL/2.0/.

If it Is Not possible Or desirable To put the notice In a particular
file, then You may include the notice in a location (such as a LICENSE
file in a relevant directory) where a recipient would be likely to look
For such a notice.
-->
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
